$advert-W: calc((100% - 140px) / 7);
$model-W: calc((100% - 210px) / 4);
$advert: calc(100vm - 332px);

.template-content {
  margin: 0 auto;
  font-family: PingFang SC, Helvetica Neue, Helvetica, Nimbus Sans L, Arial, Liberation Sans, Hiragino Sans GB, Source Han Sans CN Normal, Microsoft YaHei, Wenquanyi Micro Hei, WenQuanYi Zen Hei, ST Heiti, SimHei, WenQuanYi Zen Hei Sharp, sans-serif;
}

.header-top {
  position: relative;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
  padding: 10px 0;
}

.header-top {
  .header-left {
    position: absolute;
    top: 10px;
    left: 10px;
    img {
      width: 34px;
      height: 34px;
    }
  }
}

.header-option {
  width: 424px;
  margin: 0 auto;
  span {
    display: inline-block;
    padding: 10px;
    background-color: skyblue;
    margin: 0 56px 0 0;
  }
}

.header-top {
  .header-login {
    display: inline-block;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 10px;
    img {
      width: 47px;
      height: 47px;
    }
    span {
      margin-left: 5px;
    }
  }
}

.advert-list {
  margin-top: 30px;
  width: 100%;
  white-space: nowrap;//强制不换行
  overflow: auto;
  div {
    width: 210px;
    height: 90px;
    margin-right: 20px;
    display: inline-block;
    position: relative;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      cursor: pointer;
      //filter: blur(1px);
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
      font-size: 24px;
      color: #FFFFFF;
      cursor: pointer;
      text-shadow: 0 1px 2px rgba(0,0,0,0.32);
    }
  }
}

.model-nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row; //属性决定主轴的方向（即项目的排列方向）  横向排列
  flex-wrap: wrap; //属性定义，如果一条轴线排不下，如何换行  默认不换行，第一行在上面
  justify-content: space-between; //属性定义了项目在主轴上的对齐方式
  .model-nav-filter {
    line-height: 42px;
    display: inline-block;
    > div {
      display: inline-block;
      margin-right: 44px;
      font-size: 16px;
      color: #94969B;
      cursor: pointer;
      span {
        margin-left: 14px;
        color: #000000;
      }

      .TypeTitle{
        display: inline-block;
      }
    }
    .m1-dropdown-menu{
      font-size: 13px;
      overflow: visible;
      li{
        width: 180px;
        a{
          position: relative;
          &:hover > span{
            opacity: 0;
          }
        }
        span{
          position: absolute;
          right: 20px;
          display: inline-block;
          background-color: #fff;
        }
      }
    }
  }
  .model-nav-search {
    display: inline-block;
    .m1-input-group{
      width: 400px;
    }
    i{
      margin-right: 10px;
      margin-left: 10px;
    }
    input{
      width: 80%;
    }
    .m1-input-group{
      padding: 10px;
    }
  }
}

.model-list {
  margin-top: 30px;
  min-height: 400px;
  &:after{
    content:".";
    height:0;
    visibility:hidden;
    display:block;
    clear:both;
  }
  //display: flex;
  //flex-direction: row; //属性决定主轴的方向（即项目的排列方向）  横向排列
  //flex-wrap: wrap; //属性定义，如果一条轴线排不下，如何换行  默认不换行，第一行在上面
  //justify-content: space-between; //属性定义了项目在主轴上的对齐方式
  //overflow: hidden;
  .no-empty {
    width: 380px;
    height: 564px;
    margin-bottom: 38px;
    position: relative;
    //新
    float: left;
    margin-right: 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,.1);
    border-radius: 2px;
    transition: box-Shadow 0.5s, transform .5s;
    .model-cover {
      position: relative;
      &:hover > div{
        opacity: 1;
      }
      img {
        cursor: pointer;
        width: 100%;
      }
      > div {//悬浮效果
        position: absolute;
        top:15px;
        left: 15px;
        height: 51px;
        width: 300px;
        z-index: 3;
        opacity: 0;
        transition: all 0.4s ease-in-out;
        div:first-child{
          margin-right: 20px;
        }
      }
    }
    .model-detail {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 2;
      height: 64px;
      width: 100%;
      background-color: #ffffff;
      .model-detail-left{
        position: absolute;
        left: 0;
        top: 0;
        img{
          width: 40px;
          height: 40px;
          display: inline-block;
          margin: 12px 12px 0 12px;
          border-radius: 50%;
          vertical-align:top;
        }
        div{
          display: inline-block;
          margin-top: 12px;
          p{
            margin-bottom: 5px;
            width: 150px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
            color: #94969B;
          }
          p:first-child{
            font-size: 14px;
            color: #4E5257;
          }

        }
      }
      .model-detail-right{
        position: absolute;
        right: 0;
        top: 0;
        div{
          width: 64px;
          height: 64px;
          text-align: center;
          font-size: 16px;
          line-height: 64px;
          display: inline-block;
        }
        .valuableTep{
          background: #FEEAEE;
          color: #F33155;
        }
        .freeTep{
          color: #00D081;
          background-color: #ECFCF6;
        }
      }
    }

    &:hover{
      //box-shadow: 0 4px 12px 0 rgba(52, 63, 75, 0.06), 0 10px 40px 0 rgba(52, 63, 75, 0.08), 0 0 0 1px rgba(52, 63, 75, 0.02);
      box-shadow: 0 10px 20px rgba(0,0,0,.15);
      transform: translateY(-5px);
    }
  }
  .empty {
    display: none;
  }
  .empty2 {
    margin-top: 100px;
    text-align: center;
    width: 100%;
    p {
      margin-top: 70px;
    }
  }
}
.pagination {
  text-align: center;
  width: 100%;
  margin: 20px 0 40px;
  .m1-pagination{
    display: inline-block;
  }
}

//1
@media only screen and (min-width: 1820px){
  .template-content{
    width: 1640px;//1688
  }
  .model-list{
    .no-empty:nth-child(4n+0){
      margin-right: 0px;
    }
  }
}
//2
@media only screen and (max-width: 1801px){//1641+160两边间距最起码80px
  .template-content{
    width: 1220px;//1688
  }
  .model-list{
    .no-empty:nth-child(3n+0){
      margin-right: 0px;
    }
  }
}
//3
@media only screen and (max-width: 1381px){
  .template-content{
    width: 1100px;//
  }

  .advert-list{
    div{
      width: 160px;
      height: 75px;
      span{
        font-size: 20px;
      }
    }
  }
  .model-list{
    .no-empty{
      width: 340px;
      height: 500px;
      &:nth-child(3n+0){
        margin-right: 0px;
      }
    }
  }
}
//4
@media only screen and (max-width: 1201px){//1641+160两边间距最起码80px
  .template-content{
    width: 720px;//1688
  }

  .model-list{
    .no-empty:nth-child(3n+0){
      margin-right: 40px;
    }
    .no-empty:nth-child(2n+0){
      margin-right: 0px;
    }
  }
}
//5
@media only screen and (max-width: 820px){//1641+160两边间距最起码80px
  .template-content{
    width: 440px;//1688
  }

  .model-list{
    text-align: center;
    .no-empty{
      float: none;
      display: inline-block;
      margin-right: 0 !important;
    }
  }

  .model-nav{
    justify-content: center;
  }
}

