
// m1 Modal
.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    transition: opacity .15s linear;
}
.fade.in {
    opacity: 1;
}

.m1-modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}
.m1-modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
}
.m1-modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: 90;
    background-color: #000;
}
.m1-modal, .modal-open {
    position: absolute;
    z-index: 100;
    overflow: hidden;
}
.m1-modal{
	// display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // z-index: 91;
    -webkit-overflow-scrolling: touch;
    outline: 0;

    
}
.modal-open .m1-modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.m1-modal-dialog {
    position: relative;
    width: auto;
    margin: 100px 10px;
}
@media (min-width: 768px) {
	.m1-modal-dialog {
	    width: 500px;
	    margin: 120px auto;
	}
}

.m1-modal.fade .m1-modal-dialog {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

.m1-modal.in .m1-modal-dialog {
    -webkit-transform: translate(0);
    transform: translate(0);
}

.m1-modal.in.center .m1-modal-dialog{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top:0;
    margin-bottom: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.m1-modal-content {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    outline: 0;
}
.m1-modal-close{
    position: absolute;
    top: -15px;
    right: -15px;
    height: 30px;
    width: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    line-height: 31px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    color: #94969B;
    background-color: #e7f6ff;
    font-family: "iconfont" !important;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border:none;
	&:hover {
		color: $white;
		background-color: $brand-primary;
	}

    &:before {
        content: "\e63a";
    }
}
.m1-modal-header {
    padding: 30px 30px 0px;
    margin-bottom: 30px;
}
.m1-modal-body {
    position: relative;
    padding: 0px 30px;
    margin: 30px 0;
}
.m1-modal-footer {
    padding: 0px 30px 30px;
    margin-top:30px;
    text-align: center;
}
.m1-modal-title {
    margin:0;
	font-size: 16px;
    line-height: 16px;
	text-align: center;
}