
$white: #fff !default;
$black: #000 !default;

$gray-dark:     #292b2c !default;
$gray:          #464a4c !default;
$gray-light:    #636c72 !default;
$gray-lighter:  #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$text-dark: 	#282828	!default;
$text-base: 	#4E5257 !default;
$text-light: 	#94969B !default;
$text-lighter:  #C9CACD !default;
$text-lightest: #EEEEEE !default;
$text-ignore:	#757474 !default;
$text-placeholder: #aaa !default;

$brand-primary: #1dacfd !default;
$brand-success: #00d081 !default;
$brand-danger:  #ff5350 !default;
$brand-warning: #ffc000 !default;
$brand-gray:  	#4E5257 !default;
$brand-ignore:  #cccccc !default;

$brand-tag-primary: #E8F7FF !default;
$brand-tag-success: #ECFCF6 !default;
$brand-tag-danger:  #FEEAEE !default;

$color-bg: #FAFBFC !default;

$color-diamond: #1DACFD !default;
$color-gold: 	#F9BB00 !default;
$color-base: 	#00D081 !default;
$color-free: 	#7ED321 !default;

$color-alipay: #009fe8 !default;
$color-wxpay:  #00c801 !default;

$color-wechat: 		#00c801 !default;
$color-sina: 		#D70000 !default;
$color-qq: 			#4985EF !default;
$color-mingdao: 	#3292e6 !default;
$color-goldendata: 	#ff8533 !default;

$color-stat-1: #1DACFD !default;
$color-stat-2: #FFC800 !default;
$color-stat-3: #A7E56C !default;
$color-stat-4: #00D065 !default;
$color-stat-5: #7460EE !default;
$color-stat-6: #FF524F !default;
$color-stat-7: #94969B !default;


$box-shadow: 0 4px 12px 0 rgba(52, 63, 75, 0.06), 0 10px 40px 0 rgba(52, 63, 75, 0.08), 0 0 0 1px rgba(52, 63, 75, 0.02);
$box-shadow-light: 0 1px 4px rgba($black, .1);
