<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>账户激活 - M1云端市场部</title>
<link rel="stylesheet" href="//cdn.m1world.com/m1ui/1.0.0/css/m1.css">
</head>
<body>
    <div id="root">
    	<div class="m1-body">
    		<div class="body-container">
    			<div class="m1-panel">
    				<div class="m1-panel-header active-email-header"><h2>账户激活</h2></div>
    				<div class="m1-panel-content">
    					
    					<div class="active-email-content">
    						<div id="active-email-loading">
    							<h3><i class="m1-loading"><i></i></i> 账户激活中，请稍后...</h3>
    						</div>
    						<div id="active-email-view">
    							<div id="active-status-image" class="active-status-image"></div>
    							<h3 id="active-title"></h3>
    							<p id="active-intro"></p>
    							<p></p>
    							<p></p>
    							<div class="btns">
    								<a href="/login.html" class="m1-btn m1-btn-primary m1-btn-lg">登录</a>
    								<a href="/" class="m1-btn m1-btn-lg">返回首页</a>
    							</div>
    							<p>如果您无法正常登录，请点击右下角的气泡或以下方式反馈客服人员处理。</p><p>邮箱：m1service@meihua.info 电话：021-51602866-789</p>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65209370-1', 'm1world.com');
        ga('send', 'pageview');
    </script>
    <script src="http://www.m1world.com/js/intercom-running.js"></script>
</body>
</html>