<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>服务协议 - M1云端市场部</title>
<meta name="keywords" content="M1云端市场部, 支撑社交营销，内容营销，活动营销，营销工具，梅花网出品，M1API">
<meta name="description" content="M1云端市场部，面向市场营销人的云端工具集成平台，满足现代化市场部内容营销、社交营销、数据库营销等需求的SaaS应用！">
<link rel="stylesheet" href="http://www.m1world.com/public/font-awesome/css/font-awesome.min.css">
<link href="http://cdn.m1world.com/m1ui/1.0.0/css/m1.css" rel="stylesheet">
<link rel="stylesheet" href="http://www.m1world.com/public/hf/css/m1.theme.css">
<script src="http://www.m1world.com/lib/jquery/dist/jquery.min.js"></script>
<script src="http://www.m1world.com/public/hf/js/m1.header.js"></script>
<style type="text/css">
    h1{
        text-align: center;
        font-size: 16px;
        margin-top:0;
        margin-bottom: 30px;
    }
    h2,h3{
        font-size: 16px;

    }
    h2{
        line-height: 18px;
    }
    h3 i{
        color: #42bafe;
    }
    p{
        line-height: 22px;
        margin-bottom: 0;
    }
    .m1-body{
        padding-top: 40px;
        max-width: 1500px;
    }
    .body-container{
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .m1-panel-header {
        padding-top: 10px;
        padding-bottom: 10px;
        height: 58px;
    }
    .m1-panel-content {
        padding: 50px;
    }
</style>
</head>
<body>
    <div class="m1-body">
        <div class="body-container">
            <div class="m1-panel">
                <div class="m1-panel-header">
                    <h2>服务协议</h2>
                </div>
                <div class="m1-panel-content">
                    <h1 class="title">M1云端市场部平台服务协议</h1>
                    <div>
                        <p>甲方：M1云端市场部的注册用户</p>
                        <p>
                            乙方：上海梅花信息股份有限公司</p>
                        <p>
                            请您在开始“M1云端市场部”产品试用或购买前充分阅读、理解并接受本协议的全部内容。</p>
                        <p>&nbsp;&nbsp;<h3><i class="iconfont icon-m1-unfold-right"></i>&nbsp;&nbsp;帐户注册及条款</h3></p><br />
                        <p>
                            (1). 具体操作使用人应该是自然人。不允许采用注册机或者其他类似的自动化方式注册账户，同一家企业或个人用户只能拥有一个免费账户，M1云端市场部有权封禁或暂停恶意注册账户使用权。</p>
                        <p>&nbsp;&nbsp;<h3><i class="iconfont icon-m1-unfold-right"></i></span>&nbsp;&nbsp;邮件发送服务协议</h3></p><br />
                        <p>
                            (1).甲方在本协议期间应遵守全部中国法律、法规和规章，不得发布非法、歧视、恐吓、诽谤、色情、淫秽或者违反中国法律的内容；不得上传或者发布垃圾邮件，短信，或上传计算机病毒程序或者恶意代码；不得恶意攻击“M1云端市场部”服务器；不得使用未经其他企业或个人授权允许的其他企业或个人邮箱地址（冒名邮件）发送邮件；不得复制、转售或转授权任何部分或者全部的”M1云端市场部”服务。</p>
                        <br/>
                        <p>
                            (2).甲方如果甲方的账户流量恶意使用或明显超过平均用户带宽使用，我们保留停用甲方的账户的权利。</p>
                        <br/>
                        <p>
                            (3).如果乙方因甲方的任何触犯中国法律法规的行为或违反本协议的行为而承受任何损失或损害，甲方应该采取所有行动使乙方免于承担责任，并对由此产生的全部损失和损害承担赔偿责任。乙方无须就服务暂停或终止对甲方承担任何责任，并且无须返还甲方已支付的费用。</p>
                        <br/>
                        <p>
                            (4).乙方对所获悉属于甲方的且无法自公开渠道获得的文件及资料（包括商业秘密、公司计划、运营活动、财务信息、技术信息、经营信息及其他商业秘密）予以保密。未经甲方同意，乙方不得向任何第三方泄露该商业秘密的全部或部分内容，但法律、法规另有规定或双方另有约定的除外。</p>

                        <br/>
                        <p>(5) 甲方保证其所提供的邮件地址列表的真实性、合法性、有效性及许可性，甲方有义务对邮件地址列表进行筛选，以保证达到甲方自有邮址有效性约定，否则乙方有权随时终止本协议，同时甲方账户余额不予退还。同时乙方不承担验证邮件地址真伪及许可性之责任。</p>
                        <br/>
                        <p>(6) 当甲方单月硬退比例超过10%或单次硬退比例超过10%时，乙方有权终止向甲方提供服务，同时甲方账户余额不予退还。由此对乙方服务及乙方声誉造成损害的，甲方应承担赔偿责任。</p>
                        <br/>
                        <p>(7) 当甲方单月垃圾邮件举报比例超过0.05%或单天垃圾邮件举报比例超过0.05%时，乙方有权终止向甲方提供服务，同时甲方账户余额不予退还。由此对乙方服务及乙方声誉造成损害的，甲方应承担赔偿责任。</p>
                        <br/>
                        <p>(8) 甲方在使用乙方期间，承诺并保证：遵守所有中华人民共和国法律法规和国际上有关互联网和电子邮件的协议、规定、程序和惯例；</p>
                        <br/>
                        <p>(9) 不利用乙方进行干扰或扰乱乙方网络服务或其他正常使用；</p>
                        <br/>
                        <p>(10) 不行使其他可能给乙方带来任何不利影响的行为或者法律及政策禁止的行为。</p>
                        <br/>
                        <p>(11) 甲方不得利用乙方发送以下邮件：</p>
                        <br/>
                        <div>
                            <ul>
                                <li>1) 收件人事先没有提出要求或者同意接受的广告、电子刊物、各种形式的宣传品等宣传性或营销性电子邮件；</li>
                                <li>2) 收件人无法拒收的电子邮件；</li>
                                <li>3) 隐藏发件人身份、地址、标题等信息的电子邮件；</li>
                                <li>4) 含有虚假的信息源、发件人、路由等信息的电子邮件；</li>
                                <li>5) 含有病毒、恶意代码、色情、反动等不良信息或有害信息的邮件；</li>
                                <li>6) 发送一切违反国家法律法规的邮件；</li>
                                <li>7) 如甲方将此功能用于涉及或侵犯第三方隐私以及其他违法用途的，所产生的全部法律责任由甲方承担。</li>
                            </ul>
                        </div>
                        <a name="terms_sms"></a>
                        <p>&nbsp;&nbsp;<h3><i class="iconfont icon-m1-unfold-right"></i></span>&nbsp;&nbsp;短信发送服务协议</h3></p><br />
                        <p>
                            短信平台的使用短信平台系M1云端市场部自行开发的网页版短信平台，通过联接第三方短信运营商向第三方租借的短信发送通道或端口，可以提供群发短信的营销服务。短信平台的品牌和著作权（包括但不限于网页中的图表、图片、动画、视频、音频、音乐、文本以及源代码）是M1云端市场部的财产，受相关著作权和知识产权的法律保护。M1云端市场部确保甲方在使用短信平台时，不会因短信平台本身的著作权，而侵犯其他任何第三人的合法著作权或所有权。在合同期限或延期期限内使用短信平台，是指以下两种方式：</p>
                        <p>
                            （1）通过网页浏览器登陆网页版短信平台，使用短信平台来生成、发送用于营销活动的短信，以及报告与短信营销活动有关的统计数据。<br />
                            （2）通过数据协议与短信平台连接，进行数据和指令的交换来生成、发送用于营销活动的短信，以及报告与短信营销活动有关的统计数据。
                            </p><br />
                        <p>
                            为上述目的之外的其它启动（或者部分启动）短信平台的行为，也应被视为使用此短信平台。M1云端市场部许可甲方使用短信平台，仅是为甲方提供一个用于营销活动的短信平台，由甲方来使用该平台向用户发送短信；向何用户发送、发送的短信内容等均由甲方根据其营销活动的需要来录入、添加、删减和变更。M1云端市场部是平台提供者。M1云端市场部并不收集、使用任何用户包括接收短信手机号码在内的任何个人电子信息，也不向任何用户发送包括短信在内的任何信息。
                            甲方利用短信平台进行营销活动所使用的用户个人电子信息（包括但不限于接收短信手机号码等），应当是遵循合法、正当、必要的原则收集和使用的，且应明示收集、使用信息的目的、方式和范围，并经用户同意；不得违反法律、法规的规定和约定来收集、使用信息。梅花信息股份使用短信平台向用户发送的短信，都应有规范的定制和退订功能（加入和机制，应严格执行《关于规范短信息服务有关问题的通知》（信部电号）、《通信短信息服务管理规定》（工业和信息化部令第31号）未经用户同意或者请求，或者用户明确表示拒绝的，甲方不得使用短信平台向其发送信息。
                            甲方应确保其使用短信平台向用户发送的短信，可以由用户选择退订（机制）。用户选择退订的，甲方不得再使用短信平台向其发送短信。
                        </p><br />
                        <p>
                            甲方及其员工，以及经甲方授权使用短信平台的任何个人、公司或组织，均不得使用短信平台发送包含或可能包含以下内容的短信：
                        </p><br />
                        <p>
                            <ul>
                            <li>（1）.违反宪法所确定的基本原则的损坏国家荣誉和利益的；</li>
                            <li>（2）.危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的煽动民族仇恨、民族歧视，破坏民族团结的破坏国家民族宗教政策，宣扬邪教和封建迷信的；</li>
                            <li>（3）.散布谣言，扰乱社会秩序，破坏社会稳定的散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的侮辱或者诽谤他人，侵害他人合法权益的法律、法规或行业规范禁止的其他内容的
                            可能与他人构成不正当竞争或侵犯他人商业秘密的内容。</li>

                            <li>（4）.短信接收方没有事先要求或同意接收的广告、宣传类营销短信； </li>
                            <li>（5）.冒充他人或机构，发送欺诈性内容，如：涉及银行卡信息、中奖、支付宝、微信账号信息等；</li>
                            <li>（6）.含有病毒、恶意代码或下载链接、淫秽色情、反动、暴力、赌博等相关信息；</li>
                            <li>（7）.侵犯他人或机构著作权、知识产权，或违反保密、雇佣或不披露协议披露他人商业秘密或保密信息；</li>
                            <li>（8）.发送内容可能涉及到以下内容的:</li>
                                <ul style="padding-left:40px;">
                                    <li>1）涉及房产、股票、贷款、移民、投资理财、教育、培训、成人用品、政治、色情、暴力、赌博以及其他违法或敏感信息的；
                                股票操作，股票平仓，股票推荐；
                                赌博、博彩类；</li>
                                    <li>2）含有山寨性质的网址链接、安装程序等；</li>
                                    <li>3）含不文明用语的粗话、脏话内容或非正常文字内容或正常人无法理解的内容；</li>
                                    <li>4）主旨大意含糊不明确；</li>
                                    <li>5）具有恶意骚扰群发性质或非会员类的营销短信，如邀请通讯录好友、非会员注册邀请等；</li>
                                    <li>6）短信签名设置含糊不清，无法正常识别公司、品牌、或网站名称的；</li>
                                </ul>                      
                            
                            </ul>
                        </p>
                        <br />
                        <p>
                            除此之外，M1云端市场部为响应国家有关法律法规，对有短信营销需求的相关行业做如下规定：
                            <ul style="padding-left:40px;">
                                    <li>1）针对有留学、移民、房地产、私募行业客户，因国家禁止发送相关营销类短信，M1不提供任何发送服务。</li>
                                    <li>2）针对医疗美容保健、教育培训、P2P金融、展会、招聘行业客户可发送正常营销类邮件，备案审核周期约1周时间；</li>
                                    <li>3）其他符合条件企业资质及短信签名审核时间约为3个工作日；</li>
                                    <li>4）行业通用审核资料包括以下：1、 公司营业执照（公章电子版）
                                        2 、网站ICP备案证明
                                        3 、签名，要求长度在3~8个字符内，不能纯英文，可中英混合
                                        4 、签名与营销执照不符的话，需要提供签名与营销执照不符证明（公章电子版）
                                        5 、短信模板内容
                                        </li>
                            </ul>
                        </p>
                        <br />
                        <p>
                            如果M1云端市场部认为短信存在或可能存在上述内容的，有权立即停止甲方使用短信平台，甲方确认按照中国法律、法规及《全国人民代表大会常务委员会关于加强网络信息保护的决定》及工信部的相关规定，以及本合同的约定，使用短信平台进行短信营销活动。甲方确保，不会因其使用短信平台导致任何用户或第三方向梅花信息索赔或被要求承担责任。甲方保证如因其不正当使用短信平台，致使梅花信息发生或被主张任何责任，甲方将向梅花信息支付全额赔偿，使之免受损害，并尽最大之能力为之抗辩。梅花信息负责尽力保障短信平台和租借第三方的短信发送通道或端口之间的传输通畅和数据的准确性、及时性。由于为了保障短信发送通道或端口的传输通畅，会有多条备用通道或端口进行自动切换，故发送短信的号码会有不同和变换，梅花信息不保证发送短信号码的唯一。甲方在短信平台中存储的数据和报告，梅花信息只提供自存储日起个月的保存期限，
                            超过保存期限后，梅花信息将进行自动清除而无需取得甲方的同意。每次发送短信，短信平台会记录甲方发送短信的数量。甲方可通过注册用户名，直接进入短信平台中整体环境设置的发送总数来查看发送短信的数量。
                            上述短信发送数量，系甲方向梅花信息支付短信投递费用的部分计算依据，即在每个付款周期，甲方应支付的短信投递费用，是按上述短信发送数量反映的短信发送数量和附录中短信投递价格表计算得出的，及版本套餐费用，。
                            特别提示：短信平台中数据统计的发送总数，仅是部分通信服务商返回的数据统计，并不是甲方实际发送短信的数量，不能作为支付短信投递费用的计算依据。
                        </p><br />
                        <p>
                            至此，您明确理解并同意上海梅花信息股份有限公司和旗下的子公司、分公司、管理人员、代理、员工或合作伙伴概不对您任何惩罚性的，间接的，附带的，衍生性的损害、利润损失、商誉损害、使用损害、数据损害或损失、或其他无形损失负责；即使产生这样的原因是因为<br />
                        <ul><li>(a)无法使用M1云端市场部；</li><li>(b)购买替代M1云端市场部的商品或服务所产生的成本；</li><li>(c)因您违反使用条例而未经您的授权进入账户修改您发送的日期；</li><li>(d)在M1云端市场部陈述其他第三方的行为</li><li>(e)与M1云端市场部相关任何其他事项等的行为，</li>
                            由甲方承担全部法律责任。
                            </ul>
                        </p>
                        <br />
                        <p>
                            您一旦使用短信发送服务，即表示您已同意并遵守此项协议，如果您的短信内容违反协议规定、对M1或其他用户造成不良后果，将由您本人或相关企业承担全部法律责任及赔偿损失。同时，M1将有权视情节轻重冻结账户余额，禁用短信服务或封禁M1账号。
                        </p>
                        <p>&nbsp;&nbsp;<h3><i class="iconfont icon-m1-unfold-right"></i></span>&nbsp;&nbsp;知识产权条款</h3></p><br />
                        <p>
                            (1).甲方提交的各种内容版权归属于甲方。</p>
                        <br/>
                        <p>
                            (2).甲方应当了解并授权“M1云端市场部”及“M1云端市场部”许可的用户可以传播、二次编辑、分享甲方通过M1云端市场部编辑生成的共享作品。</p>
                        <br/>
                        <p>
                            (3).乙方提供的服务及产品（包括但不限于观感、设计、图标、代码等）的版权、商标权、专利权及其他知识产权均归属于乙方。除非获得乙方明确书面允许，甲方不得复制、重用任何HTML/CSS,
                            JavaScript或者任何视觉设计，也不得对乙方产品进行反向工程、分解或进行编译或其他修改。</p>
                        <p>&nbsp;&nbsp;<h3><i class="iconfont icon-m1-unfold-right"></i></span>&nbsp;&nbsp;M币使用协议</h3><a name="m_b"></a></p><br />
                        <p>
                            (1).M币是梅花网对注册用户推出的一种虚拟货币，用户可通过注册、激活邮箱(完善账户信息)、每日登录、邀请好友、绑定第三方账号等操作完成指定任务获得相应的M币奖励，达到指定额度后，可通过转入账户余额、购买版本套餐等方式消费
                            所获M币。</p>
                        <br/>
                        <p>
                            (2).所有梅花网用户对于M币的使用均需遵守梅花网金币以下使用规则：</p>
                        <br/>
                        <ul style="padding-left: 40px;">
                            <li>1) 不得以除梅花网发行渠道之外的非正常渠道等作弊方式获得M币，此类M币属无效M币范围不能用于抵扣或购买；</li>
                            <li>2) M币可用于在梅花网及旗下部分产品的使用，但不可转出、赠送或提现；</li>
                            <li>3) M币折算规则为每100M币约合为RMB 1.00元；</li>
                            <li>4) M币使用及充值余额的起始额度为1000M币；</li>
                            <li>5) M币最终解释权归梅花网所有；</li>
                        </ul>
                        <br/>
                        <p>
                            至此，您已经详细阅读且理解本《服务协议》内容，并同意严格遵守各条款和条件。
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="http://www.m1world.com/public/hf/js/m1.footer.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-65209370-1', 'm1world.com');
        ga('send', 'pageview');
    </script>
    <script src="http://www.m1world.com/js/intercom-running.js"></script>
</body>
</html>